.button_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my_button {
    width: 200px;
    height: 50px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: orange;
    cursor: pointer;
}

.button_image {
    width: 100px;
    height: 100px;
    position: absolute;
    transform: scale(0);
}

.clicked {
    animation-name: clicked;
    animation-duration: .2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes clicked {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(1.3);
    }
    20% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(0);
    }
}

.launch_rocket {
    animation-name: launch_rocket;
    animation-duration: 1.7s;
    animation-timing-function: ease-in;
}

@keyframes launch_rocket {
    0% {
        transform: scale(0) translate(0%, 0%) rotate(0);
    }
    5% {
        transform: scale(1.5);
    }
    10% {
        transform: scale(1.5);
    }
    20% {
        transform: scale(1);
    }
    40% {
        transform: scale(1) translate(0%, 0%) rotate(0);
    }
    100% {
        transform: scale(1) translate(150vw, -190vh) rotate(-30deg);
    }
}